.content-section {
    position: relative;
}

.detail-info-section {
    position: absolute;
    top: -200px;
    left: 50px;
    display: flex;
    justify-content: space-between;
    width: 20em;
    height: 8em;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding-top: 10px;
    padding-left: 8px;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s ease-in-out;
}
.detail-info-section:hover {
    /* transform: scaleY(1.5); */
    /* transform: translateY(10px); */
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.detail-info-section-reveal {
    opacity: 1;
    z-index: 999;
}

.detail-info-title {
    width: 150px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding-left: 5px;
}

.detail-info {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    /* background-color: red; */
    width: 150px;
    position: relative;
}

#detail_info_x_emoji {
    font-size: 11px;
    position: absolute;
    top: -29px;
    right: -164px;
}
#detail_info_x_emoji:hover {
    transform: scale(1.2); /* (150% zoom, 사이즈가 너무 클 경우 viewport 밖으로 나가게 됨 주의! */
    transition: transform 0.3s ease-in-out;
}

.detail-class {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    width: 60px;
    font-size: 10px;
    margin-left: 40px;
    font-weight: 100;
    /* background-color: green; */
    
}

.detail-value {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    width: 100%;
    font-size: 10px;
}

.detail-info-img {
    border-radius: 99999px;
    width: 7.5em;
    height: 7.5em;
    background-color: white;
    margin-right: 30px;
    background-image: url("../img/이인셀카1.jpg");
    background-size : cover;
}

